side-bar {
    height: 100%;
    
    .bar {
        position: fixed;
        width: 10%;
        height: 100%;
        background-color: #191c22;
        p {
            color: aliceblue;
            transform: rotate(270deg);
            margin-top: 105px;
        }
        
        hr {
            background-color: white;
            transform: rotate(270deg);
            width: 40px;
            position: relative;
            left: 12px;
            top: 25px;

        }
        .hr2 {
            background-color: white;
            transform: rotate(270deg);
            width: 35px;
            position: relative;
            left: 17px;
            top: 0px;

    }
}
}


#header {
    .home {
        position: relative;
        left: 10%;
        top: 0;
        width: 90%;
        height: 647px;
        background-image: url(../images/b1.jpg);
        background-size: cover;
        opacity: 1;
    }
    
    
    .cover {
        position: absolute;
        background: rgba(0,0,0,0.3);
        height: 647px;
        width: 90%;
        top: 0;
        left: 10%;
    }
    
    .content-cover {
        position: absolute;
        height: 100px;
        width: 550px;
        top: 20%;
        left: 41%;
        h1 {
            letter-spacing: 1px;
            @include h1;
            color: white;
            font-size: 35px;
            z-index: 999999;
        }

    }
    
    .words {
        position: absolute;
        height: 100px;
        width: 450px;
        top: 26%;
        left: 49.0%;
        background-color: rgba(128, 128, 128, 0.53);
        padding: 5px;
        border-left: 5px solid white;
        height: 130px;
        p {
            color: white;
            font-size: 20px;
        }    
        
        button {
            display: table;
            margin: auto;
            margin-top: 20px;
            border-radius: 0;
        }
    }
    
    .print {
        position: absolute;
        border-left: 3px solid white;
        height: 335px;
        width: 178px;
        top: 0px;
        left: 35.4%;
        transform: skewX(48.7deg);
    }
    
    .print2 {
        position: absolute;
        border-left: 3px solid white;
        height: 335px;
        width: 178px;
        top: 0px;
        left: 40.1%;
        transform: skewX(37.3deg);        
    }
    
    .job {
        position: absolute;
        border: 2px solid white;
        width: 110px;
        height: 100px;
        top: 10px;
        left: 5%;
        z-index: 9999;
        h1 {
            @include h1;
            font-size: 55px;
            margin-top: 20px;
            text-align: center;
        }
    }
    
    .print3 {
        position: absolute;
        border: 1px solid white;
        width: 100px;
        top: 20px;
        left: 20px;
    }
    
    .print33 {
        position: absolute;
        border: 1px solid white;
        width: 100px;
        top: 97px;
        left: 20px;
    }    
    
    
    .print4 {
        position: absolute;
        width: 130px;
        height: 50px;
        top: 35.5%;
        left: 18%;
        p {
            font-size: 22px;
            font-weight: bold;
            color: black;
        }
    }
    
    #tree {
        position: absolute;
        top: 0;
        left: 10%;
    }    
    }





