$maincolor: #f22f41;
$lightMaincolor: #fe2d3b;
$txt-color: #304057;
$ground-color: #191c22;
$txt2-color: #737b86;
$ground-img: linear-gradient(-135deg,#fdd819 10%,#e80505);
$width: 1000px;
$height: 600px;
$padding: 3em;
